@{
    ViewData["Title"] = "Home Page";
}
<style>
    .tableTrMouseHover tr:hover {
        cursor: pointer;
        opacity: 0.6;
    }
</style>
<div class="row">
    <center><h1>Olá seja bem vindo!</h1></center>
</div>
